.dot {
    position: absolute;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    opacity: 0;
    transform: translate(8rem, -12rem);
    z-index: -1;
    transition: 1s;
}

.show-dot {
    opacity: 1;
}
